<html>
    <head>
        <title>
            My First Form
        </title>
        <style>
            form {
               background-color: yellow; 
               font-family:'Ubuntu' ;
               font-size: 30px;
            }
            
            h1 {
                background-color: lightblue;
                font-family: 'Ubuntu', 
            }
            
            p {
                background-color: pink;
                font-family: 'Ubuntu',
            }
        </style>
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
    <body>
        <%= yield%>
    </body>
</html>
